.ST-BODY {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
    color: #000;
    margin: 0;
}

/* ...existing code... */
.ST-NAV {
    background-color: #222;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center; /* Asegura que todo dentro de .ST-NAV esté centrado verticalmente */
    justify-content: space-between;
}

.ST-LOGO {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    margin-left: 40px;
    margin-top: 0; /* Asegúrate de que no haya margen superior */
    margin-bottom: 0; /* Asegúrate de que no haya margen inferior */
    letter-spacing: 2px;
    display: flex;
    align-items: center; /* Centra el contenido interno del logo si es necesario */
}

.ST-MENU {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: transparent;
}

.ST-MENU li {
    margin: 0 10px;
}

.ST-MENU li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 20px 18px;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.2s;
    font-size: 20px;
}

.ST-MENU li a:hover, .active {
    background-color: #ff9900;
    color: #fff;
}

/* ...existing code... */
.ST-WELCOME {
    text-align: center;
    padding: 50px 20px;
    position: relative;
    width: 800px; /* Ajusta el ancho según tus necesidades */
    height: 600px; /* Ajusta la altura según tus necesidades */
    overflow: hidden
}
.ST-WELCOME-TITLE-H1 {
    font-size: 36px;
    color: #333;
}
.ST-WELCOME-LEGEND-MISSION {
    font-size: 16px;
    color: #828186;
}
.ST-WELCOME-BT-SHOP-NOW {
    background-color: #ff9900;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    cursor: pointer;
}
